# Отображение всех ошибок в PHP для целей разработки
php_flag display_errors on

# Перенаправление с несуществующих путей на index.html
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php