<div id="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 bg-white border-bottom box-shadow"
         id="guestHeader">
        <a class="h5 my-0 mr-md-auto font-weight-normal" href="/">Студенческий портал-трекер задач</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/about">О проекте</a>
            <a class="p-2 text-dark" href="/reg">Регистрация</a>
        </nav>
        <a class="btn btn-outline-primary" href="/login?set">Войти</a>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 bg-white border-bottom box-shadow"
         id="userHeader">
        <a class="h5 my-0 mr-md-auto font-weight-normal" href="/">Студенческий портал-трекер задач</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/feed">Лента</a>
            <a class="p-2 text-dark" href="/tasks">Задачи</a>
            <a class="p-2 text-dark" href="/profile">Профиль</a>
        </nav>
        <a class="btn btn-outline-primary" href="/login?unset">Выйти</a>
    </div>
    <script>
        let guestHeader = document.getElementById("guestHeader");
        let userHeader = document.getElementById("userHeader");

        function isAuthorized() {
            return document.cookie.indexOf("PHPSESSID") >= 0
                && localStorage.getItem('login');
        }

        function updateHeader() {
            if (!isAuthorized()) {
                //Using !important to override Bootstrap styles
                userHeader.setAttribute("style", "display: none !important");
                guestHeader.setAttribute("style", "");
            } else {
                guestHeader.setAttribute("style", "display: none !important");
                userHeader.setAttribute("style", "");
            }
        }

        updateHeader();
    </script>
</div>