.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    text-align: center;
    margin: 100px auto 0;
}

.form-signin > * {
    margin: 10px 0;
}

.form-signin > h1 {
    margin-bottom: 30px;
}

.form-signin > button {
    margin-top: 30px;

}

.form-profile{
    max-width: 800px;
}

.form-profile > h4 {
    margin-top: 25px;
    margin-bottom: 20px;
}

#profileTable, #main-cell {
    width: 100%;
}

#profileTable td > p {
    max-width: 500px;
    border: 1px solid black;
    padding: 5px;
    margin: 20px 0;
}

#profileTable td {
    vertical-align: top;
    padding: 20px;
}

#edit_profile {
    max-width: 600px;
    border: solid black 1px;
    margin: 20px;
    padding: 20px;
}

span.btn-link {
    cursor: pointer;
}

#task > ul > li {
    margin-bottom: 20px;
}

#task-container input {
    margin: 5px;
}

#task-container input[type="text"] {
    width: 300px;
}

#task, #task li div {
    display: table;
}

#task li div > span {
    cursor: pointer;
}

#task li div:hover > span {
    text-decoration: underline;
}

#task li div:hover > span.btn-link {
    text-decoration: none;
}

#task li div:hover > span.btn-link:hover {
    text-decoration: underline;
}

.event {
    max-width: 600px;
    border-radius: 10px;
    border: solid gray 1px;
    padding: 10px;
    margin: 20px auto;
}

.comment {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #eee;
}

.event {
    display: table;
    width: 100%;
}

.my-btn {
    background: none !important;
    border: none !important;
}