.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    text-align: center;
    margin: 100px auto 0;
}

.form-signin > * {
    margin: 10px 0;
}

.form-signin > h1 {
    margin-bottom: 30px;
}

.form-signin > button {
    margin-top: 30px;

}

.form-profile{
    display: inline;
}

.form-profile > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-profile > p {
    border: 1px solid black;
    padding: 5px;
    margin-left: 215px;
    margin-right: 50px;
}

.form-profile > img {
    margin-top: 10px;
}