.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    text-align: center;
    margin: 100px auto 0;
}

.form-signin > * {
    margin: 10px 0;
}

.form-signin > h1 {
    margin-bottom: 30px;
}

.form-signin > button {
    margin-top: 30px;

}

.form-profile{
    max-width: 800px;
}

.form-profile > h4 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.form-profile > p {
    max-width: 500px;
    border: 1px solid black;
    padding: 5px;
    margin-left: 270px;
    margin-right: 50px;
}